<div class="container" *ngIf="!movies">
    <img src="/assets/images/1.jpg" alt="">
</div>
<div class="row" *ngIf="movies">
    <div class="card col-md-4 col-md-6 colxs-12" *ngFor="let movie of movies">
        <div class="alert alert-dark cursor-pointer" [routerLink]="['/movie', movie._id]">
            <div class="card-body">
                <p class="card-title">Title: movie.title</p>
                <p>{{movie.year}}</p>
                <img [src]="movie.image" [alt]="movie.title" class="card-img-top">
            </div>
        </div>
    </div>
</div>
